<!DOCTYPE html>
<head>
    <script th:src="@{/js/jquery.slim.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/material-icons.css}" type="text/css">
    <title>Lista de Usuários</title>
</head>
<body>
<div th:insert="base.html :: header"></div>

<main>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Usuários</li>
            </ol>
        </nav>
        <h1>Lista de Usuários</h1>
        <div style="margin-top: 50px;">
            <a href="/usuario" class="btn btn-primary" style="float: right; margin-bottom: 10px; background: #343a40"><i
                    class="material-icons" style="vertical-align: bottom; font-size: 25px;">add</i>Novo</a>
            <table class="table table-striped" style="width: 100%">
                <thead style="text-align: center" class="thead-dark table-bordered">
                <tr>
                    <th style="width: 25%" scope="col">Nome</th>
                    <th style="width: 25%" scope="col">Login</th>
                    <th style="width: 25%" scope="col">Status</th>
                    <th style="width: 25%" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr th:each="usuario : ${usuarios.content}">
                    <td style="padding-top: 20px" th:text="${usuario.nome}"></td>
                    <td style="padding-top: 20px" th:text="${usuario.login}"></td>
                    <td style="padding-top: 20px" th:text="${usuario.ativo ? 'Ativado' : 'Desativado'}"></td>
                    <td>
                        <div class="row" style="margin-left: 0px; margin: auto; display: block">
                            <a href="#" class="btn btn-info"><i title="Visualizar Usuário" class="material-icons"
                                                                style="vertical-align: bottom">visibility</i></a>
                            <a href="#" class="btn btn-primary"><i title="Editar Usuário" class="material-icons"
                                                                   style="vertical-align: bottom">edit</i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-pagination text-center">
                <ul class="pagination justify-content-center">
                    <li style="margin-right: 2px;" th:class="${usuarios.number eq 0} ? 'disabled' : ''">
                        <a class="btn btn-light" th:if="${not usuarios.first}"
                           th:href="@{${'/listarUsuarios'}(page=${usuarios.number},size=${usuarios.size})}">Anterior</a>
                        <a class="btn btn-light" th:if="${usuarios.first}" href="javascript:void(0);">Anterior</a>
                    </li>

                    <li style="margin-left: 2px;margin-right: 2px;"
                        th:each="pageNo : ${#numbers.sequence(0, usuarios.totalPages - 1)}"
                        th:class="${usuarios.number eq pageNo}? 'active' : ''">
                        <a class="btn btn-dark" th:if="${usuarios.number  eq pageNo}" href="javascript:void(0);">
                            <span th:text="${pageNo + 1}"></span>
                        </a>
                        <a class="btn btn-light" th:if="${not (usuarios.number  eq pageNo and not(pageNo eq -1))}"
                           th:href="@{${'/listarUsuarios'}(page=${pageNo+1},size=${usuarios.size})}">
                            <span th:text="${pageNo + 1}"></span>
                        </a>

                    </li>
                    <li style="margin-left: 2px;"
                        th:class="${usuarios.number + 1 ge usuarios.totalPages} ? 'disabled' : ''">
                        <a class="btn btn-light" th:if="${not usuarios.last}"
                           th:href="@{${'/listarUsuarios'}(page=${usuarios.number+2},size=${usuarios.size})}">Proximo</a>
                        <a class="btn btn-light" th:if="${usuarios.last}" href="javascript:void(0);">Proximo</a>
                    </li>
                </ul>
            </div>
        </div>
        <button onclick="goBack()" class="btn btn-primary"><i class="material-icons"
                                                    style="vertical-align: bottom; font-size: 25px">arrow_back</i>Voltar</button>
    </div>
</main>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>